<%- include("partials/header")  -%> 

<div class="backg-img" style="background-image: url('<%- weather[0].main %>.jpg');" >
    <div class="left">
        
        <br>
        <h1> The weather in <%- name %>  is <%- main.temp %>  degrees Celcius. </h1>
        <h3> The weather feels like <%- weather[0].description %>  </h3 >
        <img src='http://openweathermap.org/img/wn/<%- weather[0].icon %>@2x.png'></img>
                                                   
    </div>

</div>


<%- include("partials/footer")  -%> 